@charset "utf-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 공통 스타일 */

.clearfix::after {
  content: "";
  background-color: olive;
  clear: both;
  display: block;
}


/* 레이아웃 설계 */

.container {
  background-color: silver;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: yellow;
  height: 110px;
}

.visual {
  background-color: pink;
  height: 120px;
}

.main-content {
  background-color: blue;
  padding: 30px 15px;
  min-height: 400px;
  /*height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
}


/* justify-direction :row,column 메인축설정 */


/* align-items 기준디렉션 교차방향 */


/* padding-top:30px;
    padding: 10px 10px 10px 10px 시계방향 top부터*/


/* aling-contet 2줄이상 */

.group {
  margin: 0 15px;
}

.group1 {
  width: 250px;
  float: left;
  background-color: lime;
}

.group2 {
  width: 380px;
  float: left;
  background-color: teal;
}


/* order 순서정하기 -1,0, 1은 뒤에위치 */

.group3 {
  width: 190px;
  float: left;
  background-color: tomato;
}

.slogan {
  background-color: orange;
  padding: 15px 0;
}

.footer-bg {
  background-color: purple;
}

.footer {
  background-color: skyblue;
  padding: 15px 0;
}