@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");
*, *::before, *::after {
  box-sizing: border-box;
}

/* css reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 본문 스타일 */

html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 1.4rem;
  color: #181818;
  background-color: #fff;
}

/* 링크스타일 */

a:link, a:visited {
  color: inherit;
  /* a(1점) :link(10점) .a11y(10점) */
  text-decoration: none;
}
a:hover, a:focus {
  color: #f00;
}

/* 여백초기화 */

html, body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* 숨김 콘텐츠 */

.readable-hidden, .a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  /* 표준 */
  /* clip: rect(0 0 0 0); 구형 브라우저를 위한 방법 */
}
.a11y:focus {
  top: 5px;
  Left: 50%;
  width: auto;
  height: auto;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  background: #000;
  color: #fff;
  padding: 5px 10px;
  transform: translateX(-50%);
  z-index: 10;
}

/* 건너뛰기 링크 */


/* 공통 스타일 */

.clearfix::after {
  content: "";
  background-color: olive;
  clear: both;
  display: block;
}

/* 레이아웃 설계 */

.container {
  background-color: silver;
}
.header, .visual, .main-content, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */

.header {
  background-color: #fff;
  position: relative;
  padding: 0 30px 30px;
  border-radius: 0 0 15px 15px;
}

/* 로고 */

.logo {
  position: absolute;
  top: 48px;
  left: 65px;
}

/* 멤벌 링크 */

.member {
  text-transform: uppercase;
  font-size: 0px;
  text-align: right;
  position: relative;
  transform: translateX(10px)
}
.member li {
  /* background-color: aqua; */
  display: inline-block;
  font-size: 1.4rem;
  padding: 10px 0;
}
.member li:nth-child(n+2)::before {
  content: ":";
}
.member a {
  padding: 8px 10px;
}

/* 메인 메뉴 */

.main-menu {
  background: linear-gradient(to bottom, #ffe032 0%, #e0702a 35%, #e0702a 70%, #ffe032 100%);
  background-color: #e0702a;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 47px;
  padding-left: 225px;
}
.main-menu>li {
  float: left;
  position: relative;
}

/* float와 position 같이 사용가능 */

.main-menu>li:focus {
  outline: none;
}
.main-menu span {
  display: block;
  line-height: 45px;
  font-size: 1.6rem;
  font-family: "Noto Sans Bold";
  color: #fff;
  padding: 0 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}

/* span안에 텍스트상자 before 앞에  */

.main-menu span:hover::after, .main-menu>li:focus span::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}
.main-menu span:hover, .main-menu>li:focus span {
  color: #ffe032;
}
.sub-menu {
  position: absolute;
  top: 47px;
  white-space: nowrap;
  /* width: 500px 사용가능하나 비추천*/
  display: none;
}
.menu-act {
  display: block !important;
}

/* importnat는 동적요소에 쓰는게 좋음 */

.about-html {
  left: 0;
}
.about-css {
  left: 0;
}
.web-standards {
  left: 0;
}
.web-accessibility {
  right: 0;
}
.qna {
  right: 0;
}
.archive {
  right: 0;
}
.sub-menu li, .sub-menu a {
  display: inline-block;
}
.sub-menu a {
  padding: 4px 10px 4px 0;
}
.sub-menu a::before {
  content: '\e803';
  font-family: "fontello";
  margin-right: 5px;
  font-size: 1em;
}
.sub-menu a:hover::before {
  content: '\e801';
}

/* 비쥬얼 */

.visual {
  background-color: pink;
  height: 120px;
}
.main-content {
  background-color: blue;
  padding: 30px 15px;
  min-height: 400px;
  /*
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
}

/* justify-direction :row,column 메인축설정 */


/* align-items 기준디렉션 교차방향 */


/* padding-top:30px;
padding: 10px 10px 10px 10px 시계방향 top부터*/


/* aling-contet 2줄이상 */

.group {
  margin: 0 15px;
}
.group1 {
  width: 250px;
  float: left;
  background-color: lime;
}
.group2 {
  width: 380px;
  float: left;
  background-color: teal;
}

/* order 순서정하기 -1,0, 1은 뒤에위치 */

.group3 {
  width: 190px;
  float: left;
  background-color: tomato;
}
.slogan {
  background-color: orange;
  padding: 15px 0;
}
.footer-bg {
  background-color: purple;
}
.footer {
  background-color: skyblue;
  padding: 15px 0;
}